imgs/*
# ...except the web-optimized images used by the site
!imgs/web/
!imgs/web/*
# ...and the talk posters used by the Talks & Media section
!imgs/HTSA_8x8_poster.jpg
!imgs/WPC-poster_v3-01.jpg
!imgs/MCZ-team_talk2026.png
